<h1>Foods</h1>

<h2>Need to eat!</h2>

<ul>
  {{#each foods}}
    {{#unless eaten}}
      {{> foods/food-block eaten=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Already eaten</h2>

<ul>
  {{#each foods}}
    {{#if eaten}}
      {{> foods/food-block eaten=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Food</h2>
<form class="create-form">

  <div class="form-group">
    <label for="foodName">Food Name: </label>
    <input type="text" id="foodName" name="name">
  </div>


  <button type="submit">Add Food</button>
</form>


